[Unit]
Description=Run AntBot key rotation every 90 days
Requires=antbot-key-rotation.service

[Timer]
Unit=antbot-key-rotation.service
# Run every 90 days
OnCalendar=*-*-01/90 00:00:00
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target 